<footer>
    <div>
        <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://intagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-solid fa-location-dot"></i></a>
    </div>
    <a href="https://nicolas-rey.vercel.app">Creado por <span>Nicolás Rey</span></a>
</footer>