<footer>
    <div>
        <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://intagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-solid fa-location-dot"></i></a>
    </div>
    <span>Sitio web creado por<a href="https://nicolas-rey.vercel.app">Nicolás Rey</a></span>
</footer>