<footer>
    <div>
        <a href="https://facebook.com/habitat.showrroom"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://instagram.com/habitatdsg"><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-solid fa-location-dot"></i></a>
    </div>
    <span>Sitio web creado y diseñado por<a href="https://nicolas-rey.vercel.app">Nicolás Rey</a></span>
    <script language="JavaScript" type="text/javascript">TrustLogo("https://micuenta.donweb.com/img/sectigo_positive_sm.png", "CL1", "none");</script>
    
</footer>