<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hábitat Design | Accesorios</title>
        <link rel="shortcut icon" href="images/logo/habitat-design5.png"/>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    </head>
<body>
    <header>
        <a href="/"><img class="logo" src="/images/logo/habitat-design1.png" alt=""></a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <a href="/"><i class="fa-solid fa-house"></i> Inicio</a>
            <a href="/cocinas-a-medida">Cocinas a Medida</a>
            <a class="nav1" href="/accesorios-de-cocina">Accesorios</a>
            <a href="/vestidores-a-medida">Vestidores a Medida</a>
            <a href="/nuestras-obras">Nuestros Trabajos</a>
            <a href="/sobre-nosotros">Sobre nosotros</a>
        </div>
      </header>

    <section class="cocinasAMedida" id="main">
        <div class="content">
        <div class="content">
            <h2>ACCESORIOS</h2>
        </div>
      </section>
      <%- include("partials/footer") %>
      <script src="js/main.js" charset="utf-8"></script>

</body>
</html>