<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hábitat Design | Cocinas a medida</title>
        <link rel="shortcut icon" href="/images/logo/Habitat_short.png"/>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="css/lightbox.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    </head>
<body>
    <!--  *************************scroll*********************** -->
 
    <div class="scrollToTop-btn">
        <i class="fa-solid fa-chevron-up"></i>
    </div>
    <div class="whatsApp">
        <a href="https://wa.me/+5491140273344"><img class="animate__animated animate__pulse animate__infinite" src="/images/vistas/WhatsApp_icon.png" alt=""></a>
    </div>

    <header>
        <a href="/"><img class="logo animate__animated animate__flip" src="/images/logo/Habitat.png" alt=""></a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <a href="/"><i class="fa-solid fa-house"></i> Inicio</a>
            <a class="nav1" href="/cocinas-a-medida">Cocinas a Medida</a>
            <a href="/accesorios-de-cocina">Accesorios</a>
            <a href="/vestidores-a-medida">Vestidores a Medida</a>
            <a href="/nuestras-obras">Nuestros Trabajos</a>
            <a href="/sobre-nosotros">Sobre nosotros</a>
        </div>
    </header>

    <section class="main cocinasAMedida" id="main">
        <div class="content">
            <h2 class="animate__animated animate__backInLeft">MUEBLES DE COCINA</h2>
        </div>
    </section>

    <h2 class="gallery-title">Cocinas</h2>
    <div class="container">
        <div class="gallery">
            <a href="/images/gallery/1.jpg" data-lightbox="models" data-title="imagen1">
                <img src="/images/gallery/1.jpg" alt="">
            </a>
            <a href="/images/gallery/2.jpg" data-lightbox="models" data-title="imagen2">
                <img src="/images/gallery/2.jpg" alt="">
            </a>
            <a href="/images/gallery/3.jpg" data-lightbox="models" data-title="imagen3">
                <img src="/images/gallery/3.jpg" alt="">
            </a>		
            <a href="/images/gallery/4.jpg" data-lightbox="models" data-title="imagen4">
                <img src="/images/gallery/4.jpg" alt="">
            </a>
            <a href="/images/gallery/5.jpg" data-lightbox="models" data-title="imagen5">
                <img src="/images/gallery/5.jpg" alt="">
            </a>
            <a href="/images/gallery/6.jpg" data-lightbox="models" data-title="imagen6">
                <img src="/images/gallery/6.jpg" alt="">
            </a>
            <a href="/images/gallery/7.jpg" data-lightbox="models" data-title="imagen7">
                <img src="/images/gallery/7.jpg" alt="">
            </a>
            <a href="/images/gallery/8.jpg" data-lightbox="models" data-title="imagen8">
                <img src="/images/gallery/8.jpg" alt="">
            </a>
        </div>
    </div>
    <%- include("partials/footer") %>
    <script src="js/main.js" charset="utf-8"></script>
    <script src="js/lightbox-plus-jquery.min.js" ></script>
</body>
</html>
