<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hábitat Design | Cocinas a medida</title>
        <link rel="shortcut icon" href="/images/logo/Habitat_short.png"/>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="css/lightbox.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    </head>
<body>
    <!--  *************************scroll*********************** -->
 
    <div class="scrollToTop-btn">
        <i class="fa-solid fa-chevron-up"></i>
    </div>
    <div class="whatsApp">
        <a href="https://wa.me/+5491140273344"><img class="animate__animated animate__pulse animate__infinite" src="/images/vistas/WhatsApp_icon.png" alt=""></a>
    </div>

    <header>
        <a href="/"><img class="logo animate__animated animate__flip" src="/images/logo/Habitat.png" alt=""></a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <a href="/"><i class="fa-solid fa-house"></i> Inicio</a>
            <a class="nav1" href="/cocinas-a-medida">Cocinas a Medida</a>
            <a href="/accesorios-de-cocina">Accesorios</a>
            <a href="/vestidores-a-medida">Vestidores a Medida</a>
            <a href="/nuestras-obras">Nuestros Trabajos</a>
            <a href="/sobre-nosotros">Sobre nosotros</a>
        </div>
    </header>

    <section class="main cocinasAMedida" id="main">
        <div class="content">
            <h2 class="animate__animated animate__backInLeft">MUEBLES DE COCINA</h2>
        </div>
    </section>

    <h2 class="gallery-title">Cocinas</h2>
    <div class="container">
        <div class="gallery">
            <a href="/images/gallery/cocinas/1.jpg" data-lightbox="models" data-title="imagen1">
                <img class="reveal" src="/images/gallery/cocinas/1.jpg" alt="">
            </a>
            <a href="/images/gallery/cocinas/2.jpg" data-lightbox="models" data-title="imagen2">
                <img class="reveal" src="/images/gallery/cocinas/2.jpg" alt="">
            </a>
            <a href="/images/gallery/cocinas/3.jpg" data-lightbox="models" data-title="imagen3">
                <img class="reveal" src="/images/gallery/cocinas/3.jpg" alt="">
            </a>		
            <a href="/images/gallery/cocinas/4.jpg" data-lightbox="models" data-title="imagen4">
                <img class="reveal" src="/images/gallery/cocinas/4.jpg" alt="">
            </a>
            <a href="/images/gallery/cocinas/5.jpg" data-lightbox="models" data-title="imagen5">
                <img class="reveal" src="/images/gallery/cocinas/5.jpg" alt="">
            </a>
            <a href="/images/gallery/cocinas/6.jpg" data-lightbox="models" data-title="imagen6">
                <img class="reveal" src="/images/gallery/cocinas/6.jpg" alt="">
            </a>
            <a href="/images/gallery/cocinas/7.jpg" data-lightbox="models" data-title="imagen7">
                <img class="reveal" src="/images/gallery/cocinas/7.jpg" alt="">
            </a>
            <a href="/images/gallery/cocinas/8.jpg" data-lightbox="models" data-title="imagen8">
                <img class="reveal" src="/images/gallery/cocinas/8.jpg" alt="">
            </a>
            <a href="/images/gallery/cocinas/9.jpg" data-lightbox="models" data-title="imagen9">
                <img class="reveal" src="/images/gallery/cocinas/9.jpg" alt="">
            </a>
            <a href="/images/gallery/cocinas/10.jpg" data-lightbox="models" data-title="imagen10">
                <img class="reveal" src="/images/gallery/cocinas/10.jpg" alt="">
            </a>
            <a href="/images/gallery/cocinas/11.jpg" data-lightbox="models" data-title="imagen11">
                <img class="reveal" src="/images/gallery/cocinas/11.jpg" alt="">
            </a>
            <a href="/images/gallery/cocinas/12.jpg" data-lightbox="models" data-title="imagen12">
                <img class="reveal" src="/images/gallery/cocinas/12.jpg" alt="">
            </a>
            <a href="/images/gallery/cocinas/13.jpg" data-lightbox="models" data-title="imagen13">
                <img class="reveal" src="/images/gallery/cocinas/13.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/14.jpg" data-lightbox="models" data-title="imagen14">
                <img class="reveal" src="/images/gallery/cocinas/14.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/15.jpg" data-lightbox="models" data-title="imagen15">
                <img class="reveal" src="/images/gallery/cocinas/15.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/16.jpg" data-lightbox="models" data-title="imagen16">
                <img class="reveal" src="/images/gallery/cocinas/16.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/17.jpg" data-lightbox="models" data-title="imagen17">
                <img class="reveal" src="/images/gallery/cocinas/17.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/18.jpg" data-lightbox="models" data-title="imagen18">
                <img class="reveal" src="/images/gallery/cocinas/18.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/19.jpg" data-lightbox="models" data-title="imagen19">
                <img class="reveal" src="/images/gallery/cocinas/19.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/20.jpg" data-lightbox="models" data-title="imagen20">
                <img class="reveal" src="/images/gallery/cocinas/20.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/21.jpg" data-lightbox="models" data-title="imagen21">
                <img class="reveal" src="/images/gallery/cocinas/21.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/22.jpg" data-lightbox="models" data-title="imagen22">
                <img class="reveal" src="/images/gallery/cocinas/22.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/23.jpg" data-lightbox="models" data-title="imagen23">
                <img class="reveal" src="/images/gallery/cocinas/23.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/24.jpg" data-lightbox="models" data-title="imagen24">
                <img class="reveal" src="/images/gallery/cocinas/24.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/25.jpg" data-lightbox="models" data-title="imagen25">
                <img class="reveal" src="/images/gallery/cocinas/25.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/26.jpg" data-lightbox="models" data-title="imagen26">
                <img class="reveal" src="/images/gallery/cocinas/26.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/27.jpg" data-lightbox="models" data-title="imagen27">
                <img class="reveal" src="/images/gallery/cocinas/27.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/28.jpg" data-lightbox="models" data-title="imagen28">
                <img class="reveal" src="/images/gallery/cocinas/28.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/29.jpg" data-lightbox="models" data-title="imagen29">
                <img class="reveal" src="/images/gallery/cocinas/29.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/30.jpg" data-lightbox="models" data-title="imagen30">
                <img class="reveal" src="/images/gallery/cocinas/30.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/31.jpg" data-lightbox="models" data-title="imagen31">
                <img class="reveal" src="/images/gallery/cocinas/31.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/32.jpg" data-lightbox="models" data-title="imagen32">
                <img class="reveal" src="/images/gallery/cocinas/32.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/33.jpg" data-lightbox="models" data-title="imagen33">
                <img class="reveal" src="/images/gallery/cocinas/33.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/34.jpg" data-lightbox="models" data-title="imagen34">
                <img class="reveal" src="/images/gallery/cocinas/34.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/35.jpg" data-lightbox="models" data-title="imagen35">
                <img class="reveal" src="/images/gallery/cocinas/35.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/36.jpg" data-lightbox="models" data-title="imagen36">
                <img class="reveal" src="/images/gallery/cocinas/36.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/37.jpg" data-lightbox="models" data-title="imagen37">
                <img class="reveal" src="/images/gallery/cocinas/37.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/38.jpg" data-lightbox="models" data-title="imagen38">
                <img class="reveal" src="/images/gallery/cocinas/38.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/39.jpg" data-lightbox="models" data-title="imagen39">
                <img class="reveal" src="/images/gallery/cocinas/39.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/40.jpg" data-lightbox="models" data-title="imagen40">
                <img class="reveal" src="/images/gallery/cocinas/40.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/41.jpg" data-lightbox="models" data-title="imagen41">
                <img class="reveal" src="/images/gallery/cocinas/41.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/42.jpg" data-lightbox="models" data-title="imagen42">
                <img class="reveal" src="/images/gallery/cocinas/42.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/43.jpg" data-lightbox="models" data-title="imagen43">
                <img class="reveal" src="/images/gallery/cocinas/43.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/44.jpg" data-lightbox="models" data-title="imagen44">
                <img class="reveal" src="/images/gallery/cocinas/44.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/45.jpg" data-lightbox="models" data-title="imagen45">
                <img class="reveal" src="/images/gallery/cocinas/45.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/46.jpg" data-lightbox="models" data-title="imagen46">
                <img class="reveal" src="/images/gallery/cocinas/46.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/47.jpg" data-lightbox="models" data-title="imagen47">
                <img class="reveal" src="/images/gallery/cocinas/47.jpg" alt="">
            </a> 
            <a href="/images/gallery/cocinas/48.jpg" data-lightbox="models" data-title="imagen48">
                <img class="reveal" src="/images/gallery/cocinas/48.jpg" alt="">
            </a> 
        </div>
    </div>
    <%- include("partials/footer") %>
    <script src="js/main.js" charset="utf-8"></script>
    <script src="js/lightbox-plus-jquery.min.js" ></script>
</body>
</html>
