<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>H치bitat Design</title>
        <link rel="shortcut icon" href="images/logo/habitat-design5.png"/>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    </head>
<body>
    <!--  *************************scroll*********************** -->
 
  <div class="scrollToTop-btn">
    <i class="fa-angle-up"></i>
  </div>

 <!-- +++++++++++++++++++++++++++++++Header++++++++++++++++++++++++++++++++ -->    
 <header>
    <a href="/"><img class="logo" src="/images/logo/habitat-design1.png" alt=""></a>
    <div class="menu-btn"></div>
    <div class="navigation">
        <a class="nav1" href="/"><i class="fa-solid fa-house"></i> Inicio</a>
        <a href="/cocinas-a-medida">Cocinas a Medida</a>
        <a href="/accesorios-de-cocina">Accesorios</a>
        <a href="/vestidores-a-medida">Vestidores a Medida</a>
        <a href="/nuestras-obras">Nuestros Trabajos</a>
        <a href="/sobre-nosotros">Sobre nosotros</a>
    </div>
  </header>
  <section class="main" id="main">
    <div class="content">
      <h2>MUEBLES DE COCINA A MEDIDA</h2>
      <br>
      <h3>M치s de 30 a침os fabricando muebles</h3>
    </div>
  </section>
          
 <!-- +++++++++++++++++++++++++++++++Main++++++++++++++++++++++++++++++++ --> 
      <div class="info">
        <div class="info-content">
            <i class="fa-solid fa-wrench"></i>
            <div>
              <h3>Somos <span>Fabricantes</span></h3>
              <span>Dise침os a medida</span>
            </div>
        </div>
        <div class="info-content">
          <i class="fa-solid fa-users"></i>
            <div>
              <h3>Personal <span>Calificado</span></h3>
              <span>Trabajos de categoria</span>
            </div>
        </div>
        <div class="info-content">
          <i class="fa-solid fa-credit-card"></i>
            <div>
              <h3>Financia <span>tu Projecto</span></h3>
              <span>Tarjetas de Credito</span>
            </div>
        </div>
        <div class="info-content1">
          <i class="fa-solid fa-hotel"></i>
            <div>
              <h3>Showroom</h3>
              <span>Veni a conocerlo</span>
            </div>
        </div>
      </div>
      <main>
        <a href="/cocinas-a-medida">
          <div class="category-container">
            <img src="/images/vistas/3-muebles-de-cocina.jpg" alt="">
            <h2>Amoblamientos de cocina</h2>
          </div>
        </a>
        <a href="/vestidores-a-medida">
          <div class="category-container">
            <img src="/images/vistas/muebleCocinaPremium2.jpg" alt="">
            <h2>Vestidores y placards</h2>
          </div>
        </a>
      </main>

      <%- include("partials/footer") %>
    <script src="js/main.js" charset="utf-8"></script>

</body>
</html>