<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hábitat Design | Sobre Nosotros</title>
        <link rel="shortcut icon" href="images/logo/Habitat_short.png"/>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
        <script type="text/javascript">const tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/"); document.write(unescape("<script src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript' %3E%3C/script%3E")); </script>
    </head>
<body>
    <!--  *************************scroll*********************** -->
 
  <div class="scrollToTop-btn">
    <i class="fa-solid fa-chevron-up"></i>
  </div>
  <div class="whatsApp">
    <a href="https://wa.me/+5491123584238"><img class="animate__animated animate__pulse animate__infinite" src="/images/vistas/WhatsApp_icon.png" alt=""></a>
  </div>

    <header>
        <a href="/"><img class="logo animate__animated animate__flip" src="/images/logo/Habitat.png" alt=""></a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <a href="/"><i class="fa-solid fa-house"></i> Inicio</a>
            <a href="/cocinas">Cocinas a Medida</a>
            <a href="/living">Living</a>
            <a href="/vestidores">Vestidores y Dormitorios</a>
            <a href="/office">Office & Studio</a>
            <a class="nav1" href="/sobre-nosotros">Sobre nosotros</a>
        </div>
      </header>

    <section class="main sobreNosotros" id="main">
        <div class="content">
        <div class="content">
            <h2 class="animate__animated animate__backInLeft">SOBRE NOSOTROS</h2>
        </div>
    </section>
    <main class="about">
      <h1>Somos Hábitat Design.</h1>
      <br>
      <div>
        <p>"En Hábitat Design, fusionamos más de 30 años de experiencia en diseño y fabricación de muebles a medida con un enfoque familiar y personalizado.</p>
        <p>Cada pieza que creamos es única, realizada con esmero y dedicación para satisfacer las necesidades y gustos de nuestros apreciados clientes.</p>
        <p>En Hábitat Design, no solo hacemos muebles, ¡creamos historias y espacios que reflejan el cariño y la calidad que nos caracterizan!"</p>
      </div>
    </main>
      <%- include("partials/footer") %>
      <script src="js/main.js" charset="utf-8"></script>

</body>
</html>
